.current-playlist{
    padding: 15px 20px;
    .playlist-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .header__back, .header__icon{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .header__title{
            font-family: 'Roboto'sans-serif;
            font-weight: 500;
            font-size: 20px;
            line-height: 23px;
        }
    }
    .playlist-body{
        padding: 20px 0;
        .track-item{
            display: flex;
        }
        .track-body{
            padding-left: 15px;
            color: #010D11;
            .track__title{
                font-size: 16px;
                line-height: 19px;
            }
            .track__author{
                font-size: 14px;
                line-height: 20px;
                color: #9BAEB5;
            }
            .track__time, .track__size, .track__bitrate{
                font-size: 12px;
                line-height: 20px;
                color: #A6CFE2;
            }
        }
        .track-info{
            display: flex;
            justify-content: space-between;
        }
        .track-icons{
            display: flex;
            margin-left: auto;
            width:60px;
            justify-content: space-around;
        }
        
    }
}