.myplaylist{
    &__header{
        padding: 20px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom:1px solid #EAEAEA;
    }
    &__body{
        padding: 15px 20px;
    } 
    &__title{
        font-family: 'Roboto' sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
    }
    &__icon{
        display: flex;
        align-items: center;
        cursor: pointer;
        border-radius: 50%;
        padding: 5px;
        transition: background-color   0.3s;
        &:hover{
            background-color: $add-form-title;
            .icon{
                fill:white;
            }
        }
    }

}
.favoritePlaylist{
    display: flex;
    cursor: pointer;
    text-decoration: none;
    &__logo{
        width:96px;
        height: 96px;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        background-color: $btn-color;
        // &:after{
        //     content: '';
        //     width:48px;
        //     height: 48px;
        //     position: absolute;
        //     left:25px;
        //     top:25px;
        //     background: url(img/Star7.svg) no-repeat;
        //     background-size: contain;
        //     transition: .3s;
        //     cursor: pointer;
        // }
        // &:hover{
        //     &:after{
        //         content: '';

        //     }
        // }
    }
    // &__image{

    // }
    &__icon{
        top:26px;
        left:27px;
        position:absolute;
        width:45px;
        height:45px;
    }
    &__icon-path{
        transition: .3s;
        fill:rgba($color: #000000, $alpha: 0);
        stroke:#A6CFE2;
        stroke-linecap:square;
        fill-rule:evenodd;
        stroke-width:1px;        
    }
    &:hover{
        .favoritePlaylist__icon-path{
            fill:#FFD101;
            stroke:#FFD101;
        }
    }
    &__info{
        display: flex;
        flex-direction: column;
        padding-left: 20px;
    }
    &__title{
        font-size: 16px;
        line-height: 24px;
        color: #010D11;
    }
    &__subtitle{
        font-size: 12px;
        line-height: 20px;
        color: #9BAEB5;
    }
}