.track{
    display: flex;
    padding:12px 0px;
    &__imageWrapper{
        display: flex;
        align-self: center;
    }
    &__image{
        width: 48px;
        height: 48px;
    }
    &__content{
        padding-left: 15px;
        color: #010D11;
    }
    &__title{
        font-size: 16px;
        line-height: 19px;
    }
    &__author{
        font-size: 14px;
        line-height: 20px;
        color: #9BAEB5;
    }
    &__infoWrapper{
        display:flex;
        justify-content:space-between;
    }
    &__info{
        font-size: 12px;
        line-height: 20px;
        color: #A6CFE2;
    }
    &__btnWrapper{
        display: flex;
        margin-left: auto;
        width:80px;
        justify-content: space-around;
        align-items: center;
    }
    &__btn{
        background: none;
        border: none; /* Remove borders */
        display: flex;
        justify-content: center;        
        align-items: center;
        padding: 0;
        width: 24px;
        height: 24px;     
        cursor: pointer;   
        &:hover{
            .track__icon{
                fill:#FFD101;
                stroke:#aaD101;
            }
            .track__icon_more{
                fill:#EF3E4A;
                stroke:none;
            }
        }
        &_hidden{
            display:none;
        }
    }
    &__icon{
        transition: .3s;
        stroke-linecap:none;
        fill-rule:evenodd;
        stroke:none;
        fill:#A6CFE2;
        width:16px;
        &:hover{
            fill:#EF3E4A;
            stroke:none;
        }  

        &_active{
            fill:#FFD101;
            stroke:#FFD101;
        }
        &_favorite{
            fill:rgba(black, 0);
            stroke:#A6CFE2;
            stroke-linecap:round;
            fill-rule:evenodd;
            stroke-width:2px; 
            &:hover{
                fill:#FFD101;
                stroke:#aaD101;
            }  
        }
        // &_more{
        //     stroke-linecap:none;
        //     fill-rule:evenodd;
        //     stroke:none;
        //     fill:#A6CFE2;
        //     width:16px;
        //     &:hover{
        //         fill:#EF3E4A;
        //         stroke:none;
        //     }
        // }
        // &_trash{
        //     stroke-linecap:none;
        //     fill-rule:evenodd;
        //     stroke:none;
        //     fill:#A6CFE2;
        //     &:hover{
        //         fill:#EF3E4A;
        //         stroke:none;
        //     }
        // }
    }

}